.footer {
  background-color: #0d2034;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr; 
  gap: 20px;
  justify-content: space-around;
  font-family: Arial, sans-serif;
  
  
}

.footer h3 {
  color: white;
  margin-bottom: 15px;
  padding-top: 40px;
}

.footer p {
  line-height: 1.5;
  color: rgb(189, 189, 189);
}

.footer ul {
  list-style-type: none;
  padding: 0 0 10px 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer li a {
  color: rgb(189, 189, 189);
  text-decoration: none;
  display: block; 
}

.footer li a:hover {
  text-decoration: underline;
}

.footer-section {
  padding: 0 20px;
}

.footer-section.social-icons {
  grid-column: span 3; 
  background-color: #0a1c2e;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-section.social-icons ul {
  display: flex;
  gap: 30px; 
}

.footer-section.social-icons img {
  width: 40px;
  height: 40px;
}

.footer-section.quick-links  {
  padding-left: 20%;
  
}

.footer-section.quick-links li {
  padding: 10px 10px 10px 10px;
  
}
  
.footer-section.quick-links li a:hover {
  color: red;
  text-decoration: none;
}



