

.why-vita {
  background-color: #3d5c7f;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
 
  
}

.why-vita-image {
  padding:  60px;
  display: flex;
  justify-content: center;
}

.why-vita-content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  
}
.why-vita-content ul {
  
  padding: 0;
  font-size: 1.5em;
  list-style-type: disc;
  
  
}

.why-vita-content p {
  
  padding: 0;
  font-size: 1.2em;
}

.why-vita-content h1 {
  text-align: left;
}